.authTitle {
  padding-top: 7px;
  padding-bottom: 8px;
}

.authFormTitle {
  padding-top: 24px;
  padding-bottom: 24px;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.authImage {
  object-fit: cover;
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.sample {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 198, 255), rgba(0, 74, 152));
}
