nextjs-portal {
  display: none;
}

@media (min-width: 576px) {
  .float-sm-right {
    float: right !important;
  }
}

.rdt {
  width: 100%;
}

:root {
  --avatar-size: 2.5rem;
  /* change this value anything, e.g., 100px, 10rem, etc. */
}

.circle {
  background-color: #ccc;
  border-radius: 50%;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
}

.initials {
  font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
  line-height: 1;
  position: relative;
  top: calc(var(--avatar-size) / 4); /* 25% of parent */
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle::after {
  display: none !important;
  background-color: transparent;
}

/* -------------------- Web comercial - Estilos globales -------------------- */
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
}

.section-title-white {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.blue-subtitle {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 74, 155);
}

.white-subtitle {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.gray-text-subtitle {
  font-size: 14px;
  text-align: center;
  color: rgb(111, 111, 111);
}

.light-blue-subtitle {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: rgb(73, 196, 246);
}

.gray-text {
  font-size: 14px;
  text-align: start;
  color: rgb(111, 111, 111);
}

.white-text {
  color: white;
  font-size: 14px;
  text-align: start;
}

.blue-background-section {
  background-size: cover;
  background-position: center;
  background-image: url("../../public/web/section-backgrounds/what-is-it-for-background.png");
}

/* ------------------------- Web Comercial - NavBar ------------------------- */
.nav-bar-link-button-img {
  margin-right: 10px;
}

.nav-bar-link-button-text {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.navbar-link {
  color: rgb(0, 74, 155);
  font-weight: bold;
}

.navbar-link:hover {
  color: rgb(0, 198, 255);
  font-weight: bold;
}

/* -------------------- Web comercial - Botones -------------------- */
.blue-button {
  font-size: 14px;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 15px;
  border-color: rgb(0, 198, 255);
  background-color: rgb(0, 198, 255);
}

.blue-button:hover {
  border-color: rgb(0, 74, 155);
  background-color: rgb(0, 74, 155);
}

.secondary-button {
  font-size: 14px;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 15px;
  color: rgb(0, 198, 255);
  font-weight: bold;
  border-color: rgb(0, 198, 255);
  background-color: transparent;
}

.secondary-button:hover {
  border-color: rgb(0, 74, 155);
  background-color: rgb(0, 74, 155);
}

/* --------------- Web comercial - Tarjeta de caractarísticas --------------- */
.feature-container {
  /* background-color: orange; */
  display: flex;
  flex-wrap: wrap;
}

.feture-card-container {
  padding: 0px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card {
  margin-bottom: 20px;
}

.feature-card-body {
  padding-top: 40px;
  padding-bottom: 40px;
  /* padding: 20px; */
  /* style={{ width: "18rem" }} */
}

.feature-card-icon {
  margin-bottom: 20px;
}

.feature-card-title {
  font-weight: bold;
}

.feature-card-text {
  font-size: 14px;
  font-weight: bold;
}

/* -------------------------- Web Comercial - Tabs -------------------------- */
.nav-tabs {
  border-bottom: none;
}

.nav-link {
  background-color: transparent; /* Background color for selected tab */
  color: white; /* Text color for selected tab */
  border-color: transparent; /* Border color for selected tab */
}

.nav-link:hover {
  background-color: transparent; /* Background color for selected tab */
  color: white; /* Text color for selected tab */
  border-color: transparent; /* Border color for selected tab */
}

.nav-tabs .nav-link.active {
  color: rgb(0, 198, 255);
  border-color: transparent;
  background-color: transparent;
}

.nav-tabs .nav-link:hover {
  color: rgb(0, 198, 255);
  border-color: transparent;
  background-color: transparent;
}

.nav-tabs .nav-link {
  border-bottom: none;
}

/* ---------------------- Web comercial - Casos de uso ---------------------- */
.tabs-container {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(0, 74, 155);
}

.case-card-container {
  margin: 2px;
}

.case-card {
  margin-top: 40px;
}

.case-card-title {
  font-weight: bold;
  text-align: center;
  margin-inline: 60px;
  margin-bottom: 20px;
}

.case-card-text {
  text-align: center;
}

/* ----------------------- Web Comercial - Testimonios ---------------------- */
.gray-section {
  background-color: rgb(56, 56, 56);
}

.testimonial-card {
  padding: 20px;
  flex-direction: row;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
}

.testimonial-card-image {
  border-radius: 50%;
  border-radius: 50%; /* Makes the image circular */
  border: 6px solid #5e6367; /* Add a border with a thickness of 2 pixels and black color */
}

.testimonial-text-container {
  display: inline-flex;
}

.testimonial-card-text {
  color: white;
  text-align: start;
}

.testimonial-card-title {
  color: white;
  font-weight: bold;
  text-align: start;
  margin-right: 5px;
}

.testimonial-card-subtitle {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: rgb(0, 198, 255);
}

/* ------------------------- Web Comercial - Costos ------------------------- */
.costs-background-section {
  background-size: cover;
  background-position: center;
  background-image: url("../../public/web/section-backgrounds/costs-background.png");
}

.plan-card {
  padding-top: 90px;
  padding-bottom: 90px;
}

.plan-card-name {
  font-size: 20px;
  font-weight: bold;
}

.plan-card-price-container {
  margin-bottom: 20px;
}

.plan-card-price {
  font-weight: bold;
  margin-right: 5px;
  color: rgb(0, 198, 255);
}

.plan-card-period {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}

.plan-card-feature-list {
  padding: 0px;
  list-style: none;
}

.available-feature {
  font-weight: bold;
}

.not-available-feature {
  color: #5e6367;
  font-weight: bold;
  text-decoration: line-through;
}
