nextjs-portal {
  display: none;
}

@media (min-width: 576px) {
  .float-sm-right {
    float: right !important;
  }
}

.rdt {
  width: 100%;
}

:root {
  --avatar-size: 2.5rem;
  /* change this value anything, e.g., 100px, 10rem, etc. */
}

.circle {
  background-color: #ccc;
  border-radius: 50%;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
}

.initials {
  font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
  line-height: 1;
  position: relative;
  top: calc(var(--avatar-size) / 4); /* 25% of parent */
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle::after {
  display: none !important;
  background-color: transparent;
}

/* -------------------- Web comercial - Estilos globales -------------------- */
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
}

.section-title-white {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.blue-subtitle {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 74, 155);
}

.gray-text-subtitle {
  font-size: 14px;
  text-align: center;
  color: rgb(111, 111, 111);
}

.light-blue-subtitle {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: rgb(73, 196, 246);
}

.gray-text {
  font-size: 14px;
  text-align: start;
  color: rgb(111, 111, 111);
}

.white-text {
  color: white;
  font-size: 14px;
  text-align: start;
}

.blue-background-section {
  background-size: cover;
  background-position: center;
  background-image: url("../../public/web/bg_blue_2.png");
}

/* -------------------- Web comercial - Botón azul -------------------- */
.blue-button {
  font-size: 14px;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 15px;
  border-color: rgb(0, 198, 255);
  background-color: rgb(0, 198, 255);
}

.blue-button:hover {
  border-color: rgb(0, 74, 155);
  background-color: rgb(0, 74, 155);
}

/* --------------- Web comercial - Tarjeta de caractarísticas --------------- */
.feature-container {
  /* background-color: orange; */
  display: flex;
  flex-wrap: wrap;
}

.feture-card-container {
  padding: 0px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card {
  margin-bottom: 20px;
}

.feature-card-body {
  padding-top: 40px;
  padding-bottom: 40px;
  /* padding: 20px; */
  /* style={{ width: "18rem" }} */
}

.feature-card-icon {
  margin-bottom: 20px;
}

.feature-card-title {
  font-weight: bold;
}

.feature-card-text {
  font-size: 14px;
  font-weight: bold;
}

/* ---------------------- Web comercial - Casos de uso ---------------------- */
.tabs-container {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(0, 74, 155);
}

.case-card-title {
  font-weight: bold;
  text-align: center;
  margin-inline: 60px;
  margin-bottom: 20px;
}

.case-card-text {
  text-align: center;
}
