.contentWrapper {
  height: 100%;
  background-color: #f4f6f9;
}

.contentHeader {
  padding: 15px 0.5rem;
}

.contentBreadcrumb {
  display: flex;
  flex-direction: row-reverse;
}

.contentMain {
  padding: 0 0.5rem;
}

.cardBody {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

@media screen and (max-width: 767px) {
  .tableButtons {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
    position: initial;
  }
}

@media screen and (max-width: 767px) {
  .tableFilter {
    text-align: center;
    
  }
}
